name: custom workflow
on: push
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Setup environment
        uses: actions/setup-node@v3
        
      - name: Install dependencies
        run: npm ci
      
      - name: Run App
        run: npm run start

    
          
          
        
