name: custom workflow
on: 
  workflow_dispatch:
  push:
    branches:
      - main 
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Setup environment
        uses: actions/setup-node@v3
        
      - name: Install dependencies
        run: npm ci
      
      - name: Run App
        run: | 
          nohup npm run start
          sleep 5

      - name: send request
        run : curl -X GET http://localhost:8080

    
          
          
        
