name: custom workflow
on: 
  workflow_dispatch:
  push:
    branches:
      - moderator
jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
    
      - name: Setup environment
        uses: actions/setup-node@v3

        
      - name: Install dependencies
        run: npm ci
      
      - run: docker build -t myapp . 

      - run: docker run -t myapp
          
          
        
